body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: ;
}

h1 {
    color: #a30d0d;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: ;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

button {
    background-color: #ff1100;
    color: white;
    border: none;
    padding: 10px 100px;
    border-radius: 50px;
    cursor: pointer;
   margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}
